<app-navbarlearner></app-navbarlearner>
<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <br><br>
                <div *ngIf="userDetails" class="photo-container" >
                   
                    <img alt="Profile picture" src={{userDetails.profilepic}} class="rounded-circle img-raised" >
                </div>
                
                <div class="container" style="padding-bottom: 20px;">
                    <button  style="position: absolute;
                    bottom: -10px;
                    " class="btn btn-primary btn-round"  type="button" (click)="fileInput.click()"> <i class="now-ui-icons ui-1_simple-add"></i>
                        
                        <input #fileInput type="file" ngModel name="file" (change)="onImgSelected($event)" style="display:none;" />
                      </button>
                        </div>
                <h3 *ngIf="userDetails" class="title">{{userDetails.username}}</h3>
               
                <div class="content">
                        <div class="social-description">
                                <h2><p-rating [ngModel]="rating" [readonly]="true" [cancel]="false"></p-rating></h2>
                                <p>Rating</p>
                            </div>
                    <div class="social-description">
                        <h2>0</h2>
                        <p>Reviews</p>
                    </div>
                  
                    <div class="social-description">
                        <h2>0</h2>
                        <p>Completed orders</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <div class="button-container">
              <a href="#button" class="btn btn-primary btn-round btn-lg" (click)="onLogout()" value="Logout">Logout</a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                <i class="fab fa-instagram"></i>
              </a>
          </div>
         
          <!-- Nav tabs -->

          <div class="card">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'" class="text-center">
                       
                        <ngb-tab>
                          <ng-template ngbTabTitle>
                            <i class="now-ui-icons ui-2_settings-90"></i> Settings
                          </ng-template>
                            <ng-template ngbTabContent>
                                <app-modify-profile></app-modify-profile>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
          </div>
      
          
    
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
<p-toast position="bottom-right"></p-toast>
<livechat-widget licenseId="12707970"></livechat-widget>
