<div class="row">

    <app-navbarlearner></app-navbarlearner>
</div>

<div class="wrapper">
    <div class="row">

        <div class="col-md-2 menu">

            <ul>
                <li (click)="show(0)">general Information</li>
                <li *ngFor="let quest of questions().controls; let i=index" (click)="show(i+1)"> Q {{i+1}} </li>
                <li (click)="addQuestion()">Add Question</li>
            </ul>


        </div>
        <div class="col-md-10 oneQuizz">
            <div class="quizzbanner">
            </div>
            <label class="quizzBannerTitle">
                QUIZZ Creation
            </label>
            <form [formGroup]="quizz" enctype="multipart/form-data">
                <div class="generalInfo" *ngIf="bloc===0">
                    <div class="center-center">
                        <div class="form-group">
                            <label for="">title</label>
                            <input type="text" class="form-control" formControlName="title" name="" id=""
                                aria-describedby="helpId" placeholder="title">
                            <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                        </div>
                        <div class="form-group">
                            <label for="">description</label>
                            <input type="text" class="form-control desctiptionField" formControlName="description"
                                name="" id="" aria-describedby="helpId" placeholder="description">
                            <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                        </div>
                        <div class="form-group">
                            <label for="">duration</label>
                            <input type="number" class="form-control" formControlName="duration" name="" id=""
                                aria-describedby="helpId" placeholder="duration">
                            <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                        </div>
                        <div class="form-group">
                            <label for="">category</label>
                            <select class="form-control" formControlName="category" name="" id="">
                                <option *ngFor="let cat of category" [ngValue]="cat">{{cat}}</option>

                            </select>
                        </div>
                        <input type="file" formControlName="image" #file hidden (change)="onFileChanged($event)">
                        <button class="myButton" (click)="file.click()">Upload Image</button>
                    </div>
                </div>
                <div formArrayName="questions">
                    <div class="QuestionWithAnswers" *ngFor="let quest of questions().controls; let Qindex=index">
                        <div [formGroupName]="Qindex" class="questionList">
                            <div style="display: none;" [class.selected]="Qindex===(bloc-1)">
                                <div class="question">
                                    <div class="QNumber">
                                    Question N° {{Qindex}}
                                </div>
                               
                                    <div class="form-group">
                                        <input type="text" class="form-control questionField"
                                            formControlName="questionText" name="" id="" aria-describedby="helpId"
                                            placeholder="questionText">
                                        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" formControlName="questionOrder"
                                            name="" id="" aria-describedby="helpId" hidden placeholder="questionOrder">
                                        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                                    </div>

                                </div>
                                <div formArrayName="answers" class="row answersArray">
                                    <div *ngFor="let answer of answers(Qindex).controls; let AnswerIndex=index">
                                        <div [formGroupName]="AnswerIndex" class=" answersGroup">
                                           <label> {{AnswerIndex+1}} )</label>
                                            <div class="form-group oneAnswer">
                                                <input type="text" class="form-control" formControlName="answerText"
                                                    name="" id="" aria-describedby="helpId" placeholder="answerText">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <div class="row">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <select class="form-control answersScroll" formControlName="valid" name="" id="">
                                            <option selected>Choose the Correct Answer</option>
                                            <option value="1">Answer 1</option>
                                            <option value="2" >Answer 2</option>
                                            <option value="3" >Answer 3</option>
                                            <option value="4">Answer 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
            <div class="row d-flex justify-content-end">
                <div class="col-md-5 d-flex justify-content-end controlBtn">

                    <input class="btn btn-primary btnSucc" (click)='save()' *ngIf="bloc!=0" type="submit" value="Submit" >
                    <input class="btn btn-success btnSucc" (click)='next()'  type="submit" value="Next" >


                    <!-- <button type="submit" class="btn btn-primary" (click)='save()' *ngIf="bloc!=0">save</button> -->
                </div>
                <div class="col-md-2"></div>

            </div>
                
            </form>
        </div>
    </div>
</div>